
@font-face{
  font-family: "Gilroy-Light";
  src : url("../fonts/Radomir Tinkov - Gilroy-Light.otf");
}
@font-face{
  font-family: "Gilroy-Medium";
  src : url("../fonts/Radomir Tinkov - Gilroy-Medium.otf");
}
@font-face{
  font-family: "Gilroy-Bold";
  src : url("../fonts/Radomir Tinkov - Gilroy-Bold.otf");
}
@font-face{
  font-family: "Gilroy-SemiBold";
  src : url("../fonts/Radomir Tinkov - Gilroy-SemiBold.otf");
}
@font-face{
  font-family: "Gilroy-Regular";
  src : url("../fonts/Radomir Tinkov - Gilroy-Regular.otf");
}
@font-face{
  font-family: "Gilroy-ExtraBold";
  src : url("../fonts/Gilroy-ExtraBold.ttf");
}

























//@font-face{
//font-family: "Robot-reg";
//src : url("../fonts/Roboto/Roboto-Regular.ttf");
//}
//@font-face{
//  font-family: "Robot-light";
//  src : url("../fonts/Roboto/Roboto-Light.ttf");
//}
//@font-face{
//  font-family: "Robot-med";
//  src : url("../fonts/Roboto/Roboto-Medium.ttf");
//}
//@font-face{
//  font-family: "Robot-bol";
//  src : url("../fonts/Roboto/Roboto-Bold.ttf");
//}
//@font-face{
//  font-family: "Alise-reg";
//  src : url("../fonts/Alice-Regular.ttf");
//}
//@font-face{
//  font-family: "Gilroy Bold";
//  src : url("../fonts/Gilroy-Bold.ttf");
//}
//@font-face{
//  font-family: "Roboto";
//  src : url("../fonts/Roboto.ttf");
//}
//@font-face{
//  font-family: "GilroyExtraBold";
//  src : url("../fonts/Gilroy-ExtraBold.ttf");
//}
//@font-face{
//  font-family: "GilroyBlack";
//  src : url("../fonts/Gilroy-Black.ttf");
//}