p {
  font-family: "Gilroy-Regular";
  font-size: 20px;
  color: #666464;
}
a {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  color: #231e1e;

}
h1 {
  font-family: "Gilroy-Bold";
  font-size: 36px;
  color: #231e1e;
}
h2 {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  color: #231e1e;
}
h3 {
  font-family: "Gilroy-SemiBold";
  font-size: 20px;
  color: #231e1e;
}
h4 {
  font-family: "Gilroy-Light";
  color: #231e1e;
}
h5 {
  font-family: "Gilroy-ExtraBold";
  color: #231e1e;
}
span {
  font-size: 48px;
  font-weight: 900;
}